/* styles/NavigationBar.module.css */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  background: linear-gradient(135deg, var(--nav-bg), var(--color-accent));
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 6rem;
  z-index: 1000;
  box-shadow: 0 0.2rem 0.5rem var(--shadow);
}

/* Logo with Hover Animation */
.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  border-radius: 50%;
  box-shadow: 0 0.2rem 0.4rem var(--shadow);
  transition: transform 0.3s ease-in-out;
}

/* Centered Navigation Links */
.navCenter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 3rem;
}

.navItem {
  color: #b7c2cf;
  font-size: 1.6rem;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.navItem:hover {
  color: #ffd700;
}

/* Dropdown Menu */
.menuButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #b7c2cf;
  cursor: pointer;
  display: none;
}
.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1.5rem;
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 1.25rem;
}

/* Mobile Adjustments */
@media (max-width: 76.8rem) {
  .navCenter {
    display: none;
  }

  .menuButton {
    display: block;
  }
}
