.tableContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto; /* Keep margins for spacing from edges */
  width: 100%; /* Ensure it fills the parent width */
  padding: 0 5rem;
}

.filterContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two filters per row */
  gap: 0.2rem 1rem; /* Reduced vertical space between rows (8px), horizontal gap remains the same */
  margin-bottom: 16px;
}

.filterGroup {
  display: flex;
  align-items: center;
  gap: 0.2rem; /* Smaller gap between Select and Input */
}

.filterGroup Select,
.filterGroup Input {
  flex-grow: 1; /* Ensures they take equal space within the filter group */
}

.filterGroup Button {
  margin-left: 0.8rem; /* Adds spacing to the button */
}

/* Ensure the "Add Filter" button has a proper width */
.addFilterButton {
  width: auto; /* Makes the button take only the space it needs */
  min-width: 12rem; /* Optional: You can set a minimum width */
  align-self: flex-start; /* Aligns the button to the start */
}

.table {
  width: 100%; /* Remove max-width, make it full width */
  margin: 2rem auto; /* Remove auto, keep top and bottom margins */
  border-radius: 0.8rem;
  overflow: hidden;
  background-color: var(--background, #222);
  color: var(--text-color-label, #fff);
  box-shadow: 0 0.4rem 1rem var(--shadow);
  font-size: 1.5rem;
  border-collapse: collapse;
}

.tableHeader {
  background-color: var(--primary, #333);
}

.tableHeader th {
  padding: 1.2rem 1.6rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  text-align: left;
}

.tableBody {
  display: table-row-group;
}

.tableRow {
  display: table-row;
}

.tableRow td {
  padding: 0.9rem 1.6rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: var(--text-color, #fff);
  text-align: left;
}

/* .tableRow:nth-child(even) td {
  background-color: rgba(255, 255, 255, 0.1);
} */

.tableRow:hover td {
  background-color: var(--color-accent-hover, rgba(255, 255, 255, 0.2));
}
.selected td {
  background-color: var(--primary, rgba(255, 255, 255, 0.2));
  color: var(--text-color-label, #fff);
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}
@media (max-width: 600px) {
  .filterContainer {
    grid-template-columns: 1fr; /* Stack the filters vertically on small screens */
  }
}
