:root {
  --background: #e7ebef;
  --text-color: #030a13;
  --text-color-label: #577190;
  --primary: #0f3460;
  --secondary: #091f3a;
  --nav-bg: #091f3a;
  --color-accent: #3f5d80;
  --color-accent-hover: #274870;
  --color-border: #6f85a0;
  --shadow: rgba(0, 0, 0, 0.2);
}

[data-theme='dark'] {
  --background: #030a13;
  --text-color: #e7ebef;
  --text-color-label: #577190;
  --primary: #274870;
  --secondary: #091f3a;
  --nav-bg: #091f3a;
  --color-accent: #3f5d80;
  --color-accent-hover: #274870;
  --color-border: #6f85a0;
  --shadow: rgba(255, 255, 255, 0.2);
}

/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  height: 100%;
}

body {
  font-family: var(--font-geist-sans), sans-serif;
  background-color: var(--background);
  color: var(--text-color);
  height: 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Main Content Area */
main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  width: 100%;
  flex-grow: 1;
  padding-bottom: 2rem;
  overflow-y: auto;
}

/* Typography */
label {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  color: var(--text-color-label);
}

h1,
h2,
h3 {
  color: var(--primary);
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Error and Not Found Pages */
.not-found,
.error {
  margin-top: 5rem;
  text-align: center;
}

.not-found h1,
.error h1 {
  font-size: 5rem;
  font-weight: 900;
  color: var(--text-color);
  text-transform: uppercase;
  background: linear-gradient(90deg, var(--primary), var(--nav-bg));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
  font-family: 'Montserrat', sans-serif;
}

.not-found p,
.error p {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-color);
}

/* Flex Centered Columns Layout */
.flex-centered-columns {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 1rem;
}

.flex-centered-columns > * {
  flex: 0 1 auto; /* Allow columns to grow and shrink based on content */
  margin: 0 1rem;
  min-width: 20rem; /* Minimum width for non-center columns */
}

.flex-centered-columns > .center-column {
  flex: 0 0 auto; /* Allow content to determine width */
  min-width: 40rem;
  margin: 0 1rem;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .flex-centered-columns {
    flex-direction: column;
    align-items: center;
  }

  .flex-centered-columns > * {
    width: 100%;
    margin: 1rem 0;
  }
}
.sticky-header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--background); /* Adjust to match your theme */
  z-index: 1000; /* Ensure it stays above other content */
  padding: 1rem;
  box-shadow: 0px 2px 5px var(--shadow);
}
