/* styles/ThemeToggle.module.css */
.themeToggle {
  position: fixed;
  top: 1rem;
  left: 10rem;
  background: var(--nav-bg);
  color: var(--text-color-label);
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease;
  z-index: 1001; /* Ensures it's above other content */
}

.themeToggle:hover {
  background: var(--primary);
}
